In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd

In [15]:
#basic series
values = [10,20,30,40,50]
s = pd.Series(values, index=['a','b','c','d','e'])
print(s)

#df
df = pd.DataFrame(
    {
        'name':['Mike','Bob','Jay'],
        'age':['20','15','25'],
        'job':['programmer','unemployed','chef ']
    }
)

df = df.set_index('name')

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [20]:
df
df.loc['Mike']

age            20
job    programmer
Name: Mike, dtype: object

In [ ]:
df1 = pd.DataFrame({
    'a':[1,2,3]
}, index=[0,1,2])

df2 = pd.DataFrame({
    'a':[10,20,30]
}, index=[1,2,0])

In [27]:
df1 + df2

    a
0  31
1  12
2  23

In [29]:
df = df.reset_index()

In [43]:
df.to_csv('mydata.csv', index=None)

In [47]:
pd.read_csv('mydata.csv')

   name  age         job
0  Mike   20  programmer
1   Bob   15  unemployed
2   Jay   25       chef

In [48]:
df.to_json('myjson.json')

In [51]:
df.to_dict()

{'name': {0: 'Mike', 1: 'Bob', 2: 'Jay'},
 'age': {0: '20', 1: '15', 2: '25'},
 'job': {0: 'programmer', 1: 'unemployed', 2: 'chef '}}